/* SVG */
svg .ring {
    fill: none;
    stroke: #8f60aa;
    stroke-width: 10;
    stroke-aligment: outer;
}
svg .filler {
    fill: #8f60aa;
    stroke: #c5add3;
    stroke-width: 20;
    stroke-aligment: inner;
}
svg #overlay {
    /* change to #c5add3 */
    fill: #c5add3;
}

svg #svgText {
    text-anchor: middle;
    alignment-baseline: central; 
    font-size: 45px;
    fill: #fff;
}

/* basic styles */
body {
    font-family: 'Comfortaa', cursive;
    background-color: #c5add3;
    color: #7f8c8d;
    font-size: 15px;
}

h1, h2, p {
    font-family: 'Comfortaa', cursive;
    color: #34495e;
}
#workTime, #breakTime, .input-time {
    color: #6d0a54;
}
.input-time {
    background: none;
    border-radius: 10px;
    border: .5px solid #6d0a54;
}
.input-time:hover, .input-time:active, .input-time:focus {
    background-color: rgba(255, 255, 255, .15);
}
#workTime, #breakTime {
    font-size: 20px;
}

a {
    color: #6d0a54;
    text-decoration: none;
}
.button-control {
    margin-top: 15px;
    margin-bottom: 15px;
}
.button-start,
.button-pause,
.button-reset {
    border: none;
    padding: 0.5em 2em;
    font-size: 120%;
    color: white;
    border-radius: 10px;
}
.button-start {
    background: #f3a451; 
}
.button-pause {
    background: #7a7384;
}

/* Button group styles migrated from Foundation 5 */

