* {
    font-family: 'Comfortaa', cursive;
    font-size: 12px;
}

.pure-button {
    font-family: 'Comfortaa', cursive;
    padding: 0.8em 2em;
    border-radius: 5px;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

h1 {
    font-size: 4em;
}
#timerText {
    font-size: 2em;
}
#timerText {
    font-size: 2em;
}