/* SVG */
svg {
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

svg .ring {
    fill: none;
    stroke: #8f60aa;
    stroke-width: 10;
    stroke-aligment: outer;
}
svg .filler {
    fill: #8f60aa;
    stroke: #c5add3;
    stroke-width: 20;
    stroke-aligment: inner;
}
svg #overlay {
    /* change to #c5add3 */
    fill: #c5add3;
}

svg #svgText {
    text-anchor: middle;
    alignment-baseline: central; 
    font-size: 4em;
    fill: #fff;
}

/* basic styles */
* {
    font-family: 'Comfortaa', cursive;
    background-color: #c5add3;
}
body {
    color: #7f8c8d;
    font-size: 15px;
}

h1, h2 {
    color: #34495e;
}

h1 {
    font-size: 5em;
    margin: .3em 0;
}

h2 {
    font-weight: 400;
    letter-spacing: 0.1em;
}

footer {
    padding-top: 100px;
}

.center-this {
    display: block;
    margin: 0 auto;
}
.work-input, .break-input { 
    display: inline-block;

}
.project-title {
    padding-top: 5px;
}

#workTime, #breakTime, #workIncrease, #workDecrease, #breakIncrease, #breakDecrease {
    color: #6d0a54;
}

#workTime, #breakTime {
    font-size: 20px;
}
#workTime {
    float: right;
}
#breakTime {
    float: left;
}

a {
    color: #6d0a54;
    text-decoration: none;
}

/* BUTTONS */ 
.incre-button {
    font-family: 'Comfortaa', cursive;
    background-color: #c5add3;
    border: .5px solid #6d0a54;
    padding: 15px;
    font-size: 15px;
}
.button-start,
.button-pause,
.button-reset {
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
    border-radius: 5px;
    font-size: 120%;
    color: white;
}
.button-start {
    background: #f3a451; 
}
.button-pause {
    background: #7a7384;
}
.button-reset {
    background: #42B8DD; 
}

.is-center {
    text-align: center;
}
